#draw-screen {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.wheel-container {
position: relative;
}


.spin-btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px 40px;
font-size: 22px;
border-radius: 12px;
background: #ff5722;
color: white;
border: none;
cursor: pointer;
}
