#draw-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.wheel-container {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 8px solid #333; /* viền ngoài */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#wheel {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 50%;
  transition: transform 5s cubic-bezier(0.33, 1, 0.68, 1);
}

.wheel .slice {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  border: 1px solid #fff;
}


.spin-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 22px;
  border-radius: 12px;
  background: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

