#winner-screen {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: rgba(0,0,0,0.7);
color: white;
}


.winner-box {
background: #222;
padding: 40px;
border-radius: 16px;
text-align: center;
box-shadow: 0 0 30px gold;
}


.winner-buttons button {
margin: 10px;
padding: 12px 30px;
font-size: 18px;
}
